
<div class="row">
  <div class="col-sm-2"></div>

  <div class="col-sm-8">
    <h2>About Ecopoints in Málaga</h2>
    <p>
      <strong>Ecopoints in Málaga</strong> shows information about <strong>ecopoints</strong> in the city of Málaga (Spain): electric car chargers, photovoltaic street lights, wind power generators, etc. This information is open and free and it is provided via API by <a href="http://datosabiertos.malaga.eu/dataset/ecopuntos">Malaga's town hall</a>.
    </p>

    <p>
      The <strong>ecopoints</strong> are shown in a map. You can see all of them or filter by type using a dropdown menu. Moreover you can see the information about <strong>ecopoints</strong> in a table (Kendo UI grid).
    </p>
  </div>

  <div class="col-sm-2"></div>
</div>


<div class="row">
  <div class="col-sm-4"></div>

  <div class="col-sm-4">
    <h2>Built with</h2>
    <ul>
      <li>Angular 4</li>
      <li>Kendo UI grid and Kendo UI dropdown menu</li>
      <li>Google Maps API</li>
      <li>Bootstrap</li>
      <li>Firebase (hosting)</li>
      <li>The Gimp to make the logo and proccess all the icons</li>
      <li>Icons are mainly of <a href="http://www.flaticon.com/">Flaticon</a></li>
      <li>Google Fonts</li>
      <li>VS Code</li>
      <li>A lot of coffe!</li>
    </ul>
  </div>

  <div class="col-sm-4"></div>
</div>