<!--<h1>EcoPoints list</h1>-->
<br><br>
<kendo-grid [data]="gridData" [height]="600">
  <kendo-grid-column field="id" title="ID" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="type" title="Type">
    <ng-template kendoGridCellTemplate let-dataItem>
      <img src="./assets/{{dataItem.icon}}.png" alt="" width="60">
      &nbsp;
      {{dataItem.type}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="description" title="Description">
  </kendo-grid-column>
  <kendo-grid-column field="address" title="Address">
  </kendo-grid-column>
</kendo-grid>