<h1>EcoPoints list</h1>

<kendo-grid [data]="gridData" [height]="400">
  <kendo-grid-column width="60">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.icon}}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="id" title="ID" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="type" title="Type">
  </kendo-grid-column>
  <kendo-grid-column field="description" title="Description">
  </kendo-grid-column>
  <kendo-grid-column field="address" title="Address">
  </kendo-grid-column>
  <!--
  <kendo-grid-column field="Discontinued" title="Discontinued">
    <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.Discontinued" disabled/>
    </ng-template>
  </kendo-grid-column>
  -->
</kendo-grid>